@import url("https://fonts.googleapis.com/css?family=Open+Sans");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #222;
  padding-bottom: 0px;
}

.container {
  width: 100vw;
  margin: 0 auto;
}

.nav {
  position: fixed;
  width: 100vw;
  background-color: #222;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
}

.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  transition: all 0.3s ease-in-out;
}

.nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

.nav a {
  color: #fff;
  text-decoration: none;
  padding: 7px 15px;
  transition: all 0.3s ease-in-out;
}

.nav.active {
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.nav.active a {
  color: #000;
}

.nav.active .container {
  padding: 10px 0;
}

.nav a.current,
.nav a:hover {
  color: #16a516;
  font-weight: bold;
}

.hero {
  height: 100vh;
  color: #83fae0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
  z-index: -2;
  background-image: url('6.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.5); */
  z-index: -1;
}

.hero h1 {
  font-size: 46px;
  margin: -20px 0 20px;
}

.hero p {
  font-size: 20px;
  letter-spacing: 1px;
}

.content h2,
.content h3 {
  font-size: 150%;
  margin: 20px 0;
}

.content p {
  color: #555;
  line-height: 30px;
  letter-spacing: 1.2px;
}
/* .dropbtn {
  background-color: #7a4caf;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
} */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
/* 
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
} */

.button-download {
  margin: 1% 1% 3% 0;
}
.about {
  width: 100vw;
  height: 100vh;

  padding: 2em;
  background-color: rgb(185, 170, 202);
}
.about p {
  font-size: 30px;
  /* background-image: url("S.jpg"); */
  
}
.content {
  padding: 10%;
  width: 100%;
 }
.labours{
   background-color: #C3DBD9;
   height: 100vh;
 }
 .employers{
   background-color: #dbc3c3;
 }
.bottom-container{
   background-color: #11999E;
   padding: 22px 0 05px;
   text-align: center;
font-family: 'Merriweather Sans', sans-serif;
 }
 .footer-link {
  color: grey;
}

.contact-me{
 width: 100vw;
   height: 50vh;
  background-color: #C3DBD9;
   padding: 100px 0 100px;
  text-align: center;
 font-family: 'Merriweather Sans', sans-serif;

}

.btn {
	width: 230px;
  margin: 60px auto 40px auto;
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999E);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999E);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999E);
  background-image: -o-linear-gradient(top, #11cdd4, #11999E);
  background-image: linear-gradient(to bottom, #11cdd4, #11999E);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 15px;
  text-shadow: 1px 1px 3px #666666;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  transition: width 3s;
  
}

.btn:hover {
  background: #30e3cb;
  text-align: center;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: bold;
  width: 270px;
}

 
#i4{
	 padding: 10px 20px 10px 20px;
   margin-top: 3%;
 }
 
#testimonials{
 text-align: center;
 /* background-color:#ef8172; */
}

